
<html lang="en">
<head>
	<link rel="stylesheet" type="text/scss" href="info.scss">
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Leadership Conference</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,700,900" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body id="myPage" data-spy="scroll" da ta-target=".navbar" data-offset="60">
<div class="parallaxinfo">
	<br></br>
	<br></br>
	<br></br>
	<br></br>
	<br></br>
	<br></br>
  <div class="container">
    <div class="col-lg-3"></div>
      <div class="col-lg-6-center">
        <h1 class="inside-parallax">info</h1>
					<div class="scrolldown"> SCROLL DOWN </div>
      </div>
    <div class="col-lg-3"></div>
  </div>
	<div class="container">
    <div class="col-lg-3"></div>
      <div class="col-lg-6 text-center">
						<div><img src="https://s3-ap-southeast-1.amazonaws.com/leadershipconference/arrow-09.png" height="50px" width="50px"></div>
      </div>
    <div class="col-lg-3"></div>
  </div>
</div>
<br>
<br>
<br>
<br>


<div id="about" class="container-fluid">
		<div class="row">
			<div class="col-sm-2"></div>
				<div class="col-sm-8 text-center">
				<div class="h2blk"> More Information </div>

          <div class="tab tab-title">
            <h2 class="tab--title mediumfont">
              <div class="tab-icon"></div>
                WORKSHOP REGISTRATION
            </h2>
            <div class="content-block block-skin-grey clearfix">
              <div class="content-block-title">
                <div class="hinfo">How do I register for workshops?</div>
                <ul>Please register a workshop on the workshop registration page. You may choose three workshops you're interested in and we'll do our best to put you in your preferred workshop. You will also register your attendance for the Leadership Conference when you register for the workshops.</ul>

              <div class="hinfo">Is it possible to change my workshop once I have registered?</div>
                <ul>No, unfortunately we are not able to accommodate changes to workshops due to very limited seating, so please select your workshops carefully.</ul>

              <div class="hinfo">How do I get to the conference venue?</div>
                <ul>Conference venue: The JW Marriott KL, 183 Jalan Bukit Bintang, 55100 Kuala Lumpur, Malaysia.</ul>
                <ul>Via MyTeksi or Grabcar: GPS Coordinates - 3.14776, 101.714, call for a car via their smartphone app.</ul>
                <ul>Via Uber: GPS Coordinates - 3.14776, 101.714, request a car via their smartphone app.</ul>
                <ul>Via car / taxi: GPS Coordinates - 3.14776, 101.714</ul>
                <ul>Via car / taxi: GPS Coordinates - 3.1389, 101.692</ul>

              <div class="hinfo">What are the parking rates?</div>
                <ul>Parking is at a flat rate of RM10</ul>
                <ul>Parking tickets can be validated next to the registration tables. Validation will be available for parking in both JW Marriott and Starhill Gallery. Hotel staff will man the validation machines to ensure the success of your parking ticket validation. However, should you lose your parking ticket, replacements will not be made available. Valet parking is also available but you will not be entitled to the flat rate.</ul>
              </div>
            </div>
          </div>

          <div class="tab tab-title">
            <h2 class="tab--title mediumfont">
              <div class="tab-icon"></div>
                ACCOMMODATION
            </h2>
            <div class="content-block block-skin-grey clearfix">
              <div class="content-block-title">
                <div class="hinfo">Will accommodation be provided this year?</div>
              <ul>Accommodation at JW Marriott will be provided if required for conference participants arriving from out of town.</ul>
              </div>
            </div>
          </div>

          <div class="tab tab-title">
            <h2 class="tab--title mediumfont">
              <div class="tab-icon"></div>
                EVENT INFO
            </h2>
            <div class="content-block block-skin-grey clearfix">
              <div class="content-block-title">
                <div class="hinfo">When and Where is the conference?</div>
                <ul>The YTL Leadership Conference is on the 6th of November 2017. Please scroll down for the programme flow pictured below.</ul>
                <div class="hinfo">Is attendance compulsory?</div>
                <ul>Yes. You have been hand-picked to attend the Leadership Conference and as such, your attendance is compulsory.</ul>
                <div class="hinfo">Is this a free seating event?</div>
                <ul>Yes, this is a free seating event so please arrive early to secure the best seats.</ul>
                <div class="hinfo">What is the dress code?</div>
                <ul>The dress code for the conference is business casual.</ul>
                <div class="hinfo">Where is the Secretariat located?</div>
                <ul>The Conference Secretariat will be located at the registration desk.</ul>
              </div>
            </div>
          </div>

          <div class="tab tab-title">
            <h2 class="tab--title mediumfont">
              <div class="tab-icon"></div>
                FOOD
            </h2>
            <div class="content-block block-skin-grey clearfix">
              <div class="content-block-title">
                <div class="hinfo">Is food provided at the conference?</div>
                <ul>On 6th of November, Lunch will be served at the Feast Village at Starhill Gallery.</ul>
                <div class="hinfo">Can I order anything else?</div>
                <ul>Please note that meals and refreshments provided at the Conference will be on the conference expenses. All other drinks and refreshments will be on your own account.</ul>
              </div>
            </div>
          </div>

          <div class="tab tab-title">
            <h2 class="tab--title mediumfont">
              <div class="tab-icon"></div>
                VENUE
            </h2>
            <div class="content-block block-skin-grey clearfix">
              <div class="content-block-title">
                <div class="hinfo">Where are the keynote sessions and workshops held?</div>
                <ul>The keynote and panel sessions will be held in the Mayang Sari Grand Ballroom.</ul>
                <ul>The workshops will be held at meeting rooms, Starhill 1 to Starhill 8.</ul>
                <div class="hinfo">Where are the prayer rooms located?</div>
                <ul>Prayer room facilities are provided and can be found on Level 1.</ul>
              </div>
            </div>
          </div>
        </div>
			</div>
			</div>


	<div class="container-fluid">
			<div class="col-sm-2"></div>
				<div class="col-sm-8 text-center">
					<div class="h2blk">Workshop Activites and Location</div>
				</div>
			<div class="col-sm-2">
			</div>
		</div>


		<div class="row">
			<div class="col-sm-1">
			</div>
			<div class="col-sm-5">
					<img src="https://s3-ap-southeast-1.amazonaws.com/leadershipconference/Floor+plan-01.png" height="100%" width="100%">
			</div>
			<div class="col-sm-5">
					<img src="https://s3-ap-southeast-1.amazonaws.com/leadershipconference/Floor+plan-02.png" height="100%" width="100%">
			</div>
			<div class="col-sm-1">
			</div>
		</div>





			<div id="about" class="container-fluid">
				<div class="row">
					<div class="col-sm-3"></div>
						<div class="col-sm-6 text-center">
							<div class="h2blk">AGENDA</div>
						</div>
					<div class="col-sm-3">
					</div>
				</div>
				<div class="row">
					<div class="col-sm-2">
					</div>
					<div class="col-sm-4">
						<div class="binfofont">7:30 am: Registration & Breakfast</div>
						<div class="infofont">8.30am: Welcome by Emcee</div>
						<div class="binfofont">8.40am: Chairman’s Address</div>
						<div class="infofont">8.50am: Managing Director's Address</div>
						<div class="binfofont">9.20am: Keynote 1: “Start With Why?” by Heath Slawner</div>
						<div class="infofont">10.20am: Keynote 2: “Clear Eyes. Full Hearts. Can’t Lose” by Tyler Ramsey</div>
						<div class="binfofont">10.35am: Coffee Break and Networking</div>
						<div class="infofont">11.00am: Keynote 3: “Ethical Leadership” by Benny Ho</div>
						<div class="binfofont">11.30am: Keynote 4: “Change Is The Only Constant” by Chris Lee"</div>
					</div>
					<div class="col-sm-4">
						<div class="binfofont">Noon: Keynote 5: “Understanding the Human Context to Create New Value” by Pete Overy</div>
						<div class="infofont">12.45pm: Lunch</div>
						<div class="binfofont">2.00pm: Design Thinking Workshops</div>
						<div class="infofont">4.00pm: Tea Break and Networking </div>
						<div class="binfofont">4.20pm: Breakout Sessions</div>
						<div class="infofont">5.30pm: BTRT Awards Presentation</div>
						<div class="binfofont">5.40pm: PSKY Awards</div>
						<div class="infofont">5.50pm: Biggie Idea Awards</div>
						<div class="binfofont">6.00pm: Directors Panel</div>
						<div class="infofont">7.00pm: Closing Remarks</div>
						<div class="binfofont">7.30pm: After Party/Dinner</div>
						<div class="infofont">9.00pm: Raffle Winner Announcement and Closing</div>
					</div>
					<div class="col-sm-2">
					</div>
				</div>

				<br>
				<br>

				<div id="about" class="container-fluid">
					<div class="row">
						<div class="col-sm-3"></div>
							<div class="col-sm-6 text-center">
								<div class="h2blk">VENUE DETAILS</div>
							</div>
						<div class="col-sm-3">
						</div>
					</div>
					<div class="row">
						<div class="col-sm-2">
						</div>
						<div class="col-sm-8 text-center">
					   	<div class="infofont">JW MARRIOTT KL</div>
					   	<div class="infofont">183 BUKIT BINTANG, BUKIT BINTANG</div>
					   	<div class="infofont">55100 KUALA LUMPUR</div>
						</div>
						<div class="col-sm-2">
						</div>
					</div>
					<br>
					<br>
					<br>
					<br>
					<div class="row">
						<div class="col-sm-2">
						</div>
						<div class="col-sm-8 text-center">
							<div class="h2blk">ABOUT THE VENUE</div>
					   	<div class="infofont">The 29-storey, 561-room hotel is located in the heart of the exciting "Golden Triangle", the city's prime business and shopping district and is adjoining to the prestigious Starhill Gallery. It is also strategically located on "Bintang Walk", offering easy access to the lively and vibrant shopping strip that boasts upscale brands, a vast variety of restaurants, and numerous entertainment outlets.</div>

						</div>
						<div class="col-sm-2">
						</div>
					</div>
					<br>
					<br>
					<br>
					<br>
					<div class="row">
						<div class="col-sm-2">
						</div>
						<div class="col-sm-8 text-center">
							<div class="h2blk">MAP</div>
						</div>
						<div class="col-sm-2">
						</div>
					</div>
					<div class="row">
						<div class="col-sm-1">
						</div>
						<div class="col-sm-5 text-center">
					   	<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3983.797935407984!2d101.711626!3d3.14795!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31cc362c6997bb9d%3A0x1c0a26a884800923!2sJW+Marriott+Kuala+Lumpur%2C+Bukit+Bintang%2C+55100+Kuala+Lumpur%2C+Federal+Territory+of+Kuala+Lumpur!5e0!3m2!1sen!2smy!4v1507717455375" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
						</div>
						<div class="col-sm-5 text-center">
					   	<iframe src="https://www.google.com/maps/embed?pb=!1m0!4v1507717671369!6m8!1m7!1spyc2hlojgheWsJ8MgBSTaw!2m2!1d3.148083393671647!2d101.7138594706723!3f182.1427393586218!4f-4.5231203200052335!5f0.7820865974627469" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
						</div>
						<div class="col-sm-1">
						</div>
					</div>
					</div>
					</div>
					<div>
						<a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSfQOFOReuuurIEedid5VqNBZrz-W4CetuO9bUnsuYy8o5hAXg/viewform?usp=sf_link"class="regobutton">Click Here To Register Now</a>
					</div>
<div class="colours">
	<div class="container">
		<div class="col-sm-2">
		</div>
		<div class="col-sm-8 text-center">
			<div class="whinfo">Need Help?</div>
			<div class="wwpinfo">Email: jeremy.foo@ytl.com.my</div>
			<div class="wwpinfo">Contact: 03 4065 1565</div>
		</div>
		<div class="col-sm-2">
		</div>
	</div>
</div>
