

<html lang="en">
<head>
	<link rel="stylesheet" type="text/scss" href="homes.scss">
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Leadership Conference</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,700,900" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body id="myPage" data-spy="scroll" da ta-target=".navbar" data-offset="60">
<div class="parallaxinfo">
	<br></br>
	<br></br>
	<br></br>
	<br></br>
	<br></br>
	<br></br>
  <div class="container">
    <div class="col-lg-3"></div>
      <div class="col-lg-6-center">
        <h1 class="inside-parallax">info</h1>
      </div>
    <div class="col-lg-3"></div>
  </div>
</div>
<br>
<br>
<br>
<br>


<div id="about" class="container-fluid">
		<div class="row">
			<div class="col-sm-2"></div>
				<div class="col-sm-8 text-center">
				<div class="h2blk"> More Information </div>

				<div class="togglebox">
				  <input id="toggle1" type="radio" name="toggle" />
				  <label for="toggle1" class="mediumfont">Workshop Registration</label>
				  <section id="content1">
							<div class="hinfo">How do I register for workshops?</div>
						    <ul>Please register a workshop on the workshop registration page. You may choose three workshops you're interested in and we'll do our best to put you in your prefered workshop. You will also register your attendance for the Leadership Conference when you register for the workshops.</ul>

							<div class="hinfo">Is it possible to change my workshop once I have registered?</div>
					    	<ul>No, unfortunately we are not able to accommodate changes to workshops due to very limited seating, so please select your workshops carefully.</ul>

							<div class="hinfo">How do I get to the conference venue?</div>
								<ul>Conference venue: The JW Marriott Hotel KL, 183 Jalan Bukit Bintang, 55100 Kuala Lumpur, Malaysia.</ul>
								<ul>Via MyTeksi or Grabcar: GPS Coordinates - 3.14776, 101.714, call for a car via their smartphone app.</ul>
								<ul>Via Uber: GPS Coordinates - 3.14776, 101.714, request a car via their smartphone app.</ul>
								<ul>Via car / taxi: GPS Coordinates - 3.14776, 101.714</ul>
								<ul>Via car / taxi: GPS Coordinates - 3.1389, 101.692</ul>

							<div class="hinfo">What are the parking rates?</div>
								<ul>Parking is flat rate of RM10</ul>
								<ul>Parking tickets can be validated next to the registration tables. Validation will be available for parking in both JW Marriott Hotel and Starhill Gallery. Hotel staff will man the validation machines to ensure the success of your parking ticket validation. However, should you lose your parking ticket, replacements will not be made available. Valet parking is also available but you will not be entitled to the complimentary parking provided.</ul>
				  </section>

				  <input id="toggle2" type="radio" name="toggle" />
				  <label for="toggle2" class="mediumfont">Accomodation</label>

				  <section id="content2">
						<div class="hinfo">Will accommodation be provided this year?</div>
							<ul>Accommodation at JW Marriott will be provided if required for conference participants arriving from out of town.</ul>

				  </section>

				  <input id="toggle3" type="radio" name="toggle" />
				  <label for="toggle3" class="mediumfont">EVENT INFO</label>

				  <section id="content3">
						<div class="hinfo">When and Where is the conference?</div>
							<ul>The YTL Leadership Conference is on the 19th of December 2016. Please scroll down for the programme flow pictured below.</ul>
						<div class="hinfo">Is attendance compulsory?</div>
							<ul>Yes. You have been hand-picked to attend the Leadership Conference and as such, your attendance is compulsory.</ul>
						<div class="hinfo">Is this a free seating event?</div>
							<ul>Yes, this is a free seating event so please arrive early to secure the best seats.</ul>
						<div class="hinfo">What is the dress code?</div>
							<ul>The dress code for the conference is business casual.</ul>
						<div class="hinfo">Where is the Secretariat located?</div>
							<ul>The Conference Secretariat will be located at the registration desk.</ul>
				  </section>

				  <input id="toggle4" type="radio" name="toggle" />
				  <label for="toggle4" class="mediumfont">FOOD</label>

				  <section id="content4">
						<div class="hinfo">Is food provided at the conference?</div>
 						 <ul>On 19th of December, Lunch will be served at the Feast Village at Starhill Gallery.</ul>
 					 <div class="hinfo">Can I order anything else?</div>
 						 <ul>Please note that meals and refreshments provided at the Conference will be on the conference expenses. All other drinks and refreshments will be on your own account.</ul>
 						 <ul>A pop-up café operated by volunteers from YTL Hotels, will be serving fresh premium coffee and snacks throughout the day. All proceeds will go to Dignity for Children Foundation. Support a good cause and start your day right!</ul>
				  </section>

					<input id="toggle5" type="radio" name="toggle" />
				 <label for="toggle5" class="mediumfont">VENUE</label>

				 <section id="content5">
					 <div class="hinfo">Where are the keynote sessions and workshops held?</div>
							<ul>The keynote and panel sessions will be held in the Mayang Sari Grand Ballroom.</ul>
							<ul>The workshops will be held at meeting rooms, Starhill 1 to Starhill 8.</ul>

						<div class="hinfo">Where are the prayer rooms located?</div>
							<ul>Prayer room facilities are provided and can be found on Level 1.</ul>
				 </section>


				</div>
			</div>

	<div id="about" class="container-fluid">
			<div class="col-sm-2"></div>
				<div class="col-sm-8 text-center">
					<div class="h2blk">Workshop Activites and Location</div>
				</div>
			<div class="col-sm-2">
			</div>
		</div>


		<div class="row">
			<div class="col-sm-1">
			</div>
			<div class="col-sm-5">
					<img src="https://s3-ap-southeast-1.amazonaws.com/leadershipconference/%5BLeadership%2BConf%2B16%5D%2BFloor%2BPlan%2BCS6-04.png" height="100%" width="100%">
			</div>
			<div class="col-sm-5">
					<img src="https://s3-ap-southeast-1.amazonaws.com/leadershipconference/static1.squarespace.png" height="100%" width="100%">
			</div>
			<div class="col-sm-1">
			</div>
		</div>





			<div id="about" class="container-fluid">
				<div class="row">
					<div class="col-sm-3"></div>
						<div class="col-sm-6 text-center">
							<div class="h2blk">AGENDA</div>
						</div>
					<div class="col-sm-3">
					</div>
				</div>
				<div class="row">
					<div class="col-sm-2">
					</div>
					<div class="col-sm-8">
							<img src="<%= asset_path('speaker1.png') %>" height="420" width="100%">
					</div>
					<div class="col-sm-2">
					</div>
				</div>



				<div id="about" class="container-fluid">
					<div class="row">
						<div class="col-sm-3"></div>
							<div class="col-sm-6 text-center">
								<div class="h2blk">VENUE DETAILS</div>
							</div>
						<div class="col-sm-3">
						</div>
					</div>
					<div class="row">
						<div class="col-sm-2">
						</div>
						<div class="col-sm-8 text-center">
					   	<p>JW MARRIOTT HOTEL KL ADDRESS</P>
					   	<p>183 BUKIT BINTANG, BUKIT BINTANG</P>
					   	<p>55100 KUALA LUMPUR</P>
					   	<p>GPS COORDINATESL 3123412313</P>
						</div>
						<div class="col-sm-2">
						</div>
					</div>
					<div class="row">
						<div class="col-sm-2">
						</div>
						<div class="col-sm-8 text-center">
							<div class="h2blk">ABOUT THE VENUE</div>
					   	<p>The 29-storey, 561-room hotel is located in the heart of the exciting "Golden Triangle", the city's prime business and shopping district and is adjoining to the prestigious Starhill Gallery. It is also strategically located on "Bintang Walk", offering easy access to the lively and vibrant shopping strip that boasts upscale brands, a vast variety of restaurants, and numerous entertainment outlets.</P>

						</div>
						<div class="col-sm-2">
						</div>
					</div>
	<br>
