

<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Leadership Conference</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet" type="text/css">

  <%= stylesheet_link_tag'login'%>

</head>



<div class="ytlblack">
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container text-center">
  <div class="col-md-3"></div>
    <div class="col-md-6">
      <img src="https://s3-ap-southeast-1.amazonaws.com/leadershipconference/logo-02.png" alt="some_text" style="width:230px;">
      </img>
      <br><br>
    <%= form_tag("/authenticate", method: "post") do %>
      <%= text_field_tag(:passphrase) %>
      <%= submit_tag "Enter", class: "btn btn-primary" %>
    <% end %>
          <div class="loginp"> Enter password in all caps </div>
    </div>
  <div class="col-md-3"></div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</div>
