
<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/scss" href="homes.scss">
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Leadership Conference</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,700,900" rel="stylesheet">
</head>



<div class="parallax3">
	<body id="myPage" data-spy="scroll" da ta-target=".navbar" data-offset="60"></body>
  <br></br>
  <br></br>

	<div class="container">
		<br></br>
	  <br></br>
	  <br></br>
	  <br></br>
	  <br></br>
	  <br></br>
	  <div class="col-lg-3"></div>
	    <div class="col-lg-6-center">
	      <h1 class="inside-parallax">speakers</h1>
	    </div>
	  <div class="col-lg-3"></div>
	</div>
</div>

<div class= "quote2">
	<br></br>
  <div class="container text-center">
    <div class="col-sm-3">
		</div>
      <div class="col-sm-6">
        <h1 class="h2wh">HEATH SLAWNER</h1>
					<img src="https://s3-ap-southeast-1.amazonaws.com/leadershipconference/Heath+Slawner.png" height="200px" width="200px"></img>
      </div>
    <div class="col-sm-3">
		</div>
		  </div>

<br></br>

		<div class="row text-center">
			<div class="col-sm-2">
			</div>
				<div class="col-sm-4 text-left">
							<p class="pblk">Heath shows audiences that trust and purpose — based on a genuine concern for others — are at the center of it all. When we're clear about why we're here, where we're going, who we serve and how we're getting there, we start to feel valued and fulfilled. As a result, we will naturally seek out ways to collaborate, execute and bring bold visions to reality. </p>
				</div>
				<div class="col-sm-4 text-left">
							<p class="pblk">Heath shows audiences that trust and purpose — based on a genuine concern for others — are at the center of it all. When we're clear about why we're here, where we're going, who we serve and how we're getting there, we start to feel valued and fulfilled. As a result, we will naturally seek out ways to collaborate, execute and bring bold visions to reality. </p>
				</div>
			<div class="col-sm-2">
			</div>
		</div>
		<br></br>

		<div class="row">
			<div class="col-sm-3">
			</div>
				<div class="col-sm-6 text-center">
					<iframe width="700" height="400" src="https://youtu.be/UkUh-gnGlNo">
					</iframe>
				</div>
			<div class="col-sm-3">
			</div>
		</div>


<br></br>
<br></br>
<br></br>

  <div class="container text-center">
    <div class="col-sm-3">
		</div>
      <div class="col-sm-6">
        <h1 class="h2wh">BENNY HO</h1>
					<img src="https://s3-ap-southeast-1.amazonaws.com/leadershipconference/Benny+Ho.png" height="200px" width="200px"></img>
      </div>
    <div class="col-sm-3">
		</div>
  </div>

	<br></br>
	<br></br>
	<br></br>

	<div class="row text-center">
		<div class="col-sm-2">
		</div>
			<div class="col-sm-4 text-left">
						<p class="pblk">Heath shows audiences that trust and purpose — based on a genuine concern for others — are at the center of it all. When we're clear about why we're here, where we're going, who we serve and how we're getting there, we start to feel valued and fulfilled. As a result, we will naturally seek out ways to collaborate, execute and bring bold visions to reality. </p>
			</div>
			<div class="col-sm-4 text-left">
						<p class="pblk">Heath shows audiences that trust and purpose — based on a genuine concern for others — are at the center of it all. When we're clear about why we're here, where we're going, who we serve and how we're getting there, we start to feel valued and fulfilled. As a result, we will naturally seek out ways to collaborate, execute and bring bold visions to reality. </p>
			</div>
		<div class="col-sm-2">
		</div>
	</div>


  <div class="container text-center" >
    <div class="col-sm-3">
		</div>
      <div class="col-sm-6">
        <h1 class="h2wh">Bojan Blecic</h1>
					<img src="https://s3-ap-southeast-1.amazonaws.com/leadershipconference/Bojan+Blecic.png" height="200px" width="200px"></img>
      </div>
    <div class="col-sm-3">
		</div>
  </div>

	<div class="container text-center" >
		<div class="col-sm-3">
		</div>
			<div class="col-sm-6">
				<h1 class="h2wh">CHRIS LEE</h1>
					<img src="https://s3-ap-southeast-1.amazonaws.com/leadershipconference/Chris+Lee.png" height="200px" width="200px"></img>
					 <br></br>
					<p class="pblk">Heath shows audiences that trust and purpose — based on a genuine concern for others — are at the center of it all. When we're clear about why we're here, where we're going, who we serve and how we're getting there, we start to feel valued and fulfilled. As a result, we will naturally seek out ways to collaborate, execute and bring bold visions to reality. </p>
			</div>
		<div class="col-sm-3">
		</div>
	</div>
</div>

<br><br><br><br><br>
<div class= "hero2">
	<div class="container text-center" >
    <div class="col-sm-3">
		</div>
      <div class="col-sm-6">
        <h1 class="h2blk">Directors Panel</h1>
      </div>
    <div class="col-sm-3">
		</div>
  </div>

	<br></br>
	<div class="container text-center" >
		<div class="col-sm-3">
			<img src="https://s3-ap-southeast-1.amazonaws.com/leadershipconference/Tan+Sri+Yeoh+Tiong+Lay.png" height="200px" width="200px"></img>
			<br></br>
					  <!-- Trigger the modal with a button -->
					  <button type="button" class="btnspeaker" data-toggle="modal" data-target="#myModal">Tan Sri Yeoh Tiong Lay</button>

					  <!-- Modal -->
					  <div class="modal fade" id="myModal" role="dialog">
						    <div class="modal-dialog">
						     <div class="modal-content">
						       <div class="modal-header">
						         <button type="button" class="close" data-dismiss="modal">&times;</button>
						         <h4 class="modal-title">Tan Sri Yeoh Tiong Lay</h4>
						       </div>
						       <div class="modal-body">
						         <p>Founder of YTL Corporation Berhad, Tan Sri Yeoh Tiong Lay is a source of inspiration and leadership for everyone in The YTL Group. He is considered to be a legendary entrepreneur and a Malaysian success story for his efforts in building YTL from a small Malaysian construction company to the international firm it is today.</p>

										<p>He was appointed to the Board of YTL Corporation Berhad in 1984, and has been Executive Chairman of the Company since 1985. He was conferred the prestigious Order of the Rising Sun, Gold Rays with Neck Ribbon by the Emperor of Japan for his efforts in promoting bilateral relations between Malaysia and Japan in 2008.</p>

										<p>Tan Sri Dato’ Seri (Dr) Yeoh Tiong Lay has always stressed on the importance of education and is currently one of the Pro-Chancellors of Universiti Malaysia Sabah in Kota Kinabalu. He was awarded Doctor of Engineering (D.Eng.) in 1988 in recognition of his achievement in upholding and furtherance of professional standards in the construction industry internationally and received a second Honorary Doctorate in Philosophy (Business Management) by Universiti Malaysia Sabah (UMS) in 2002.</p>

										<p>He is highly regarded for his outstanding entrepreneurial achievements and contribution towards the development of Malaysia and was most recently awarded the 2013 MBA Legendary Lifetime Achievement Award in recognition of this success.</p>
						       </div>
						       <div class="modal-footer">
						         <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
						       </div>
						     </div>
						   </div>
						 </div>
		</div>



		<div class="col-sm-3">
			<img src="https://s3-ap-southeast-1.amazonaws.com/leadershipconference/Tan+Sri+(Dr)+Francis+Yeoh+Sock+Ping.png" height="200px" width="200px"></img>
				<br></br>
					<button type="button" class="btnspeaker" data-toggle="modal" data-target="#myModal2">Tan Sri (Dr) Francis Yeoh Sock Ping</button>

					<!-- Modal -->
					<div class="modal fade" id="myModal2" role="dialog">
							<div class="modal-dialog">
							 <div class="modal-content">
								 <div class="modal-header">
									 <button type="button" class="close" data-dismiss="modal">&times;</button>
									 <h4 class="modal-title">Tan Sri (Dr) Francis Yeoh Sock Ping</h4>
								 </div>
								 <div class="modal-body">
									 <p>Tan Sri Francis Yeoh has been the Managing Director of YTL Corporation Berhad since 1988, which under his stewardship, flourished from a single listed company to a multinational conglomerate with holdings in power and utilities, telecommunications, real estate, development, and hospitality.</p>

									<p>An ardent advocate of environmental conservation, Tan Sri Francis supports clean and renewable energy initiatives and is member of The Nature Conservancy's Asia Pacific Council. He also has a great passion for the Arts and is Regional Chairman of International Friends of the Louvre.</p>

									<p>In 2006, he was conferred the Commander of the Most Excellent Order of the British Empire (CBE) by Her Majesty Queen Elizabeth II, for his public service to the Commonwealth.</p>

									<p>In recognition of his advocacy of socially responsible business ethics and practices, Tan Sri Francis was awarded the Primus Inter Pares Honouree of the 2010 Oslo Business for Peace Award. By making social impact a key corporate priority for YTL, Tan Sri Francis received the Corporate Social Responsibility Award at CNBC’s 9th Asia Business Leaders Awards 2010.</p>
								 </div>
								 <div class="modal-footer">
									 <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								 </div>
							 </div>
						 </div>
					 </div>
		</div>
		<div class="col-sm-3">
			<img src="https://s3-ap-southeast-1.amazonaws.com/leadershipconference/Dato%E2%80%99+Yeoh+Seok+Kian.png" height="200px" width="200px"></img>
					<br></br>
					<button type="button" class="btnspeaker" data-toggle="modal" data-target="#myModal3">Dato’ Yeoh Seok Kian</button>

					<!-- Modal -->
					<div class="modal fade" id="myModal3" role="dialog">
							<div class="modal-dialog">
							 <div class="modal-content">
								 <div class="modal-header">
									 <button type="button" class="close" data-dismiss="modal">&times;</button>
									 <h4 class="modal-title">Dato Yeoh Seok Kian</h4>
								 </div>
								 <div class="modal-body">
									 <p>Currently the Deputy Managing Director of YTL Corporation Berhad, Dato’ Yeoh is an alumnus of Heriot-Watt University, Edinburgh (United Kingdom), and the Wharton School, Pennsylvania (United States). He was appointed to the Board of YTL Corporation Berhad in 1984 as an Executive Director, and also serves as Deputy Managing Director of YTL Power International Berhad and Executive Director of YTL Land and Development Berhad.</p>

									<p>As a supporter of the arts, Dato’ Yeoh also sits on the board of The Kuala Lumpur Performing Arts Centre. He is the driving force behind YTL’s development projects, and with his vision, YTL’s projects in Malaysia have taken a dramatic turn through innovative landscaping and masterplanning.  With environmental responsibility as a company philosophy, he has introduced a different kind of living concept, where the homes, outdoors, and community synergize to form a beautiful neighbourhood.</p>
								 </div>
								 <div class="modal-footer">
									 <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								 </div>
							 </div>
						 </div>
					 </div>
		</div>
		<div class="col-sm-3">
			<img src="https://s3-ap-southeast-1.amazonaws.com/leadershipconference/Dato%E2%80%99+Yeoh+Soo+Min.png" height="200px" width="200px"></img>
			<br></br>
					<button type="button" class="btnspeaker" data-toggle="modal" data-target="#myModal4">Dato’ Yeoh Soo Min</button>

					<!-- Modal -->
					<div class="modal fade" id="myModal4" role="dialog">
							<div class="modal-dialog">
							 <div class="modal-content">
								 <div class="modal-header">
									 <button type="button" class="close" data-dismiss="modal">&times;</button>
									 <h4 class="modal-title">Dato’ Yeoh Soo Min</h4>
								 </div>
								 <div class="modal-body">
									 <p>Dato’ Yeoh Soo Min, is the Executive Director of YTL Corp and was appointed to the Board in 1984. She graduated with a Bachelor of Art (Hons) Degree in Accounting and was responsible for establishing the Group’s finance and accounting systems. She was also the brainchild behind the founding of the Group’s Travel & Transportation Division in 1990.</p>

									<p>She is an Associate Fellow member of the Malaysian Institute of Management, a Fellow of the Governors of International Students House, London and is a Trustee of Yayasan Tuanku Fauziah, IJN Foundation. A strong advocate for women’s empowerment, she is also the past President of the Women in Travel Industry and Trustee of the Women’s Leadership Endowment Fund. As a recognition of her commitment to education, Dato’ Soo Min was appointed as a Fellow of Trinity College, Oxford.</p>
								 </div>
								 <div class="modal-footer">
									 <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								 </div>
							 </div>
						 </div>
					 </div>
		</div>
	</div>
	<br>
	<div class="container text-center" >
		<div class="col-sm-3">
			<img src="https://s3-ap-southeast-1.amazonaws.com/leadershipconference/Dato%E2%80%99+Yeoh+Seok+Hong.png" height="200px" width="200px"></img>
			<br></br>
			<button type="button" class="btnspeaker" data-toggle="modal" data-target="#myModal5">Dato’ Yeoh Seok Hong</button>

			<!-- Modal -->
			<div class="modal fade" id="myModal5" role="dialog">
					<div class="modal-dialog">
					 <div class="modal-content">
						 <div class="modal-header">
							 <button type="button" class="close" data-dismiss="modal">&times;</button>
							 <h4 class="modal-title">Dato’ Yeoh Seok Hong</h4>
						 </div>
						 <div class="modal-body">
							 <p>Dato’ Yeoh Seok Hong is the Executive Director of YTL Corp and was appointed to the Board in 1985. He obtained his Bachelor of Engineering (Hons) Civil & Structural Engineering Degree from the University of Bradford, United Kingdom in 1982 and is a member of the Faculty of Building, United Kingdom. In 2010, he was conferred an Honorary Doctor of Science degree by Aston University in the United Kingdom. Dato’ Yeoh Seok Hong has a plethora of experience in the construction industry, and is responsible for YTL Group’s construction division.</p>

							<p>Known throughout the group as a dynamic leader, he was the project director responsible for the development and the construction of the two Independent Power Producer (IPP) power stations owned by YTL Power Generation Sdn Bhd. His other achievements include the construction of the Express Rail Link between Kuala Lumpur International Airport (KLIA) and Kuala Lumpur Sentral Station. He is also responsible for developing the power and utility businesses of the YTL Power International Berhad Group and the building of the fourth generation (4G) Worldwide Interoperability for Microwave Access (WiMAX) network by YTL Communications Sdn Bhd. He also sits on the board of trustees of YTL Foundation.</p>
						 </div>
						 <div class="modal-footer">
							 <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						 </div>
					 </div>
				 </div>
			 </div>
		</div>
		<div class="col-sm-3">
			<img src="https://s3-ap-southeast-1.amazonaws.com/leadershipconference/Dato%E2%80%99+Sri+Michael+Yeoh+Sock+Siong.png" height="200px" width="200px"></img>
						<br></br>
						<button type="button" class="btnspeaker" data-toggle="modal" data-target="#myModal6">Dato’ Sri Michael Yeoh Sock Siong</button>

					 <!-- Modal -->
					 <div class="modal fade" id="myModal6" role="dialog">
							 <div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">&times;</button>
										<h4 class="modal-title">Dato’ Sri Michael Yeoh Sock Siong</h4>
									</div>
									<div class="modal-body">
										<p>Dato’ Sri Michael Yeoh Sock Siong, was appointed to the Board in 1985 as an Executive Director. He graduated from University of Bradford, United Kingdom in 1983 with a Bachelor of Engineering (Hons) Civil & Structural Engineering Degree. As a highly innovative leader, he is primarily responsible for driving YTL Group’s Manufacturing Division whose activities involve cement manufacturing,  ready-mixed concrete and other building material industries.</p>

									 <p>Dato’ Michael serves as an Executive Director of YTL Power International Berhad, YTL Land & Development Berhad and YTL e-Solutions Berhad. He also sits on the boards of other public companies such as YTL Cement Berhad and YTL Industries Berhad, and private utilities companies, Wessex Water Limited in England and Wales, and YTL PowerSeraya Pte Limited in Singapore.</p>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									</div>
								</div>
							</div>
						</div>
		</div>
		<div class="col-sm-3">
			<img src="https://s3-ap-southeast-1.amazonaws.com/leadershipconference/Dato%E2%80%99+Yeoh+Soo+Keng.png" height="200px" width="200px"></img>
							<br></br>
						<button type="button" class="btnspeaker" data-toggle="modal" data-target="#myModal7">Dato'Yeoh Soo Keng</button>

					 <!-- Modal -->
					 <div class="modal fade" id="myModal7" role="dialog">
							 <div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">&times;</button>
										<h4 class="modal-title">Dato’ Yeoh Soo Keng</h4>
									</div>
									<div class="modal-body">
										<p>Dato’ Yeoh Soo Keng, was appointed to the Board in 1996 as an Executive Director of YTL Corp. She graduated with a Bachelor of Science (Hons) in Civil Engineering from Leeds University, United Kingdom in 1985 and was the project director for major projects by The Group like the construction of the British High Commissioner’s residence, Kuala Lumpur; the Design & Build of the National Art Gallery in Kuala Lumpur, and the Selangor Medical Centre in Shah Alam.</p>

									 <p>She was also in charge of a few turnkey projects such as the construction and completion of Yeoh Tiong Lay Plaza, Pahang Cement plant in Pahang, and Slag Cement plants in Selangor and Johor. Dato’ Yeoh Soo Keng plays a key role in the company and is the purchasing director responsible for bulk purchases of building materials and related items for the construction, hotels and resorts, and property development divisions of the YTL Group. She is currently the Chairman of the Cement and Concrete Association of Malaysia.</p>

									 <p>Dato' Yeoh Soo Keng is well known for her contribution to society. She is on the Board of the World Scout Foundation and the President of the Girl Guides Association of Kuala Lumpur where she has been actively involved in developing the Guide Movement to empower young girls and groom them into the women of tomorrow.</p>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									</div>
								</div>
							</div>
						</div>
		</div>
		<div class="col-sm-3">
			<img src="https://s3-ap-southeast-1.amazonaws.com/leadershipconference/Dato%E2%80%99+Mark+Yeoh+Seok+Kah.png" height="200px" width="200px"></img>
						<br></br>
						<button type="button" class="btnspeaker" data-toggle="modal" data-target="#myModal8">Dato’ Mark Yeoh Seok Kah</button>
					 <!-- Modal -->
					 <div class="modal fade" id="myModal8" role="dialog">
							 <div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">&times;</button>
										<h4 class="modal-title">Dato’ Mark Yeoh Seok Kah</h4>
									</div>
									<div class="modal-body">
										<p>Dato’ Mark Yeoh joined YTL Group in 1989 and was appointed to the Board in 1995. He graduated from King’s College, University of London, with an LLB (Hons) and was subsequently called to the Bar at Gray’s Inn, London in 1988. He was awarded Fellowship of King’s College London in 2014.</p>

									 <p>He is presently the Executive Director responsible for the YTL Hotels and Resorts Division and has been credited for establishing the group’s prestigious collection of award-winning resorts, hotels, boutique experiences and spas.</p>

									 <p>Dato’ Mark is instrumental in his role in YTL Power’s Mergers & Acquisitions Team and was involved in the acquisition of ElectraNet SA (Australia), Wessex Water Limited (UK), P.T. Jawa Power (Indonesia) and PowerSeraya Limited (Singapore).</p>

									 <p>He serves as an Executive Director of YTL Power International Berhad and YTL Land & Development Berhad and is also a board member of YTL Cement Berhad and private utilities companies, Wessex Water Limited and Wessex Water Services Limited in England and Wales, and YTL PowerSeraya Pte Limited in Singapore. Dato’ Mark is also an Executive Director of Pintar Projek Sdn Bhd, the manager of YTL Hospitality REIT.</p>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									</div>
								</div>
							</div>
						</div>
		</div>
	</div>
</div>

</body>

<br>
<br>
<br>
<br>
<br>

<div>
	<a href="/registration"class="regobutton">REGISTER</a>
</div>
</html>
