

<html lang="en">
<head>
	<link rel="stylesheet" type="text/scss" href="homes.scss">
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Bootstrap Theme Company Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,700,900" rel="stylesheet">
</head>
<body id="myPage" data-spy="scroll" da ta-target=".navbar" data-offset="60">
<div class="parallaxworkshops">
  <br></br>
  <br></br>
  <br></br>
  <br></br>
  <br></br>
  <br></br>
  <div class="container">
    <div class="col-lg-3"></div>
      <div class="col-lg-6-center">
        <h1 class="inside-parallax">Workshops</h1>
      </div>
    <div class="col-lg-3"></div>
  </div>
</div>

<div class="quote">
<div class="container">
  <br>
  <br>
  <br>
  <br>
  <div class="col-lg-3"></div>
    <div class="col-lg-6-center">
      <h1 class="inside-parallax2">Workshops</h1>
    </div>
  <div class="col-lg-3"></div>
</div>
	<br>
	<br>
	<br>
  <div class="row">
    <div class="col-sm-4 text-center">
    </div>
    <div class="col-sm-4 text-center">
			      <img src="https://s3-ap-southeast-1.amazonaws.com/leadershipconference/Icon_Design+Thinking+copy-01.png" alt="some_text" style="width:300px;height:300px;">
      <h2>Design Thinking Workshop</h2>
			<h4>	From rolling out a nationwide communcations network, to everyday issues like dealing with customer complaints. "Building The Right Thing" powers all that we do.</h4>
    </div>
    <div class="col-sm-4 text-center">
    </div>
  </div>
</div>

<br>
<br>
<br>
<br>
<br>
<div class="row">
	<div class="col-sm-4 text-center">
	</div>
	<div class="col-sm-4 text-center">
					<img src="https://s3-ap-southeast-1.amazonaws.com/leadershipconference/Icon_Creative+Workshop+copy-01.png" alt="some_text" style="width:300px;height:300px;">
					<h2>Creative Workshops</h2>
					<h4>	From rolling out a nationwide communcations network, to everyday issues like dealing with customer complaints. "Building The Right Thing" powers all that we do.</h4>
	</div>
	<div class="col-sm-4 text-center">
	</div>
</div>
<br></br>
<br></br>

	<div class="container text-center" >
		<div class="col-sm-4">
			<img src="https://s3-ap-southeast-1.amazonaws.com/leadershipconference/Icon_Possibilities+Action-01.png" height="200px" width="200px"></img>
					<div class="pblk2">Possibilities to Action</div>
		</div>
		<div class="col-sm-4">
			<img src="https://s3-ap-southeast-1.amazonaws.com/leadershipconference/Icon_Mobile+app+development-01.png" height="200px" width="200px"></img>
					<div class="pblk2">Mobile App Development</div>
		</div>
		<div class="col-sm-4">
			<img src="https://s3-ap-southeast-1.amazonaws.com/leadershipconference/Icon_Photography-01.png" height="200px" width="200px"></img>
					<div class="pblk2">Photography</div>
		</div>
	</div>

	<br>
	<br>
	<br>
	<br>
	<br>

	<div class="container text-center" >
		<div class="col-sm-4">
			<img src="https://s3-ap-southeast-1.amazonaws.com/leadershipconference/Icon_YTL+Sustainability-01.png" height="200px" width="200px"></img>
					<div class="pblk2">Sustainability</div>
		</div>
		<div class="col-sm-4">
			<img src="https://s3-ap-southeast-1.amazonaws.com/leadershipconference/Icon_YTL+Hotels-01.png" height="200px" width="200px"></img>
					<div class="pblk2">YTL Hotels</div>
		</div>
		<div class="col-sm-4">
			<img src="https://s3-ap-southeast-1.amazonaws.com/leadershipconference/Icon_Marketing+digital+age-08-01.png" height="200px" width="200px"></img>
					<div class="pblk2">Marketing In The Digital Age</div>
		</div>
	</div>
	<br></br>
	<br></br>
	<br></br>
	<br></br>

	<div>
		<a href="/registration"class="regobutton">REGISTER</a>
	</div>
