

<html lang="en">
<head>
	<link rel="stylesheet" type="text/scss" href="homes.scss">
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>YTL Leadership Conference</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,700,900" rel="stylesheet">
</head>
<body id="myPage" data-spy="scroll" da ta-target=".navbar" data-offset="60">
<div class="parallaxworkshops">
  <br></br>
  <br></br>
  <br></br>
  <br></br>
  <br></br>
  <br></br>
  <div class="container">
    <div class="col-lg-3"></div>
      <div class="col-lg-6-center">
        <h1 class="inside-parallax">Workshops</h1>
				<div class="scrolldown"> SCROLL DOWN </div>
      </div>
    <div class="col-lg-3"></div>
  </div>
  <div class="container">
    <div class="col-lg-3"></div>
      <div class="col-lg-6 text-center">
						<div><img src="https://s3-ap-southeast-1.amazonaws.com/leadershipconference/arrow-09.png" height="50px" width="50px"></div>
      </div>
    <div class="col-lg-3"></div>
  </div>
</div>

<div class="quote">
<div class="container">
  <br>
  <br>
  <br>
  <br>
  <div class="col-lg-3"></div>
    <div class="col-lg-6-center">
      <h1 class="inside-parallax2">Learn the how</h1>
    </div>
  <div class="col-lg-3"></div>
</div>
	<br>
	<br>
	<br>
  <div class="row">
    <div class="col-sm-4 text-center">
    </div>
    <div class="col-sm-4 text-center">
			      <img src="https://s3-ap-southeast-1.amazonaws.com/leadershipconference/Icon_Design+Thinking+copy-01.png" alt="some_text" style="width:300px;height:300px;">
      <h2>Design Thinking Workshop</h2>
			<h4>In this workshop, discover a robust process that will help you get project wins to be proud of. Then, put it into practise with real-world challenges that a division in YTL Group faces. Then choose an issue that ignites your interest.</h4>
    </div>
    <div class="col-sm-4 text-center">
    </div>
  </div>
</div>

<br>
<br>
<br>
<br>
<br>
<div class="row">
	<div class="col-sm-4 text-center">
	</div>
	<div class="col-sm-4 text-center">
					<img src="https://s3-ap-southeast-1.amazonaws.com/leadershipconference/Icon_Creative+Workshop+copy-01.png" alt="some_text" style="width:300px;height:300px;">
					<h2>Breakout Sessions</h2>
					<h4>Discover new ways of creating opportunities for your teams in these workshops. You might realise a new idea or fresh approach!</h4>
	</div>
	<div class="col-sm-4 text-center">
	</div>
</div>
<br></br>
<br></br>

	<div class="container text-center" >
		<div class="col-sm-4">
			<button type="button" class="btnspeaker" data-toggle="modal" data-target="#myModal0"><div><img src="https://s3-ap-southeast-1.amazonaws.com/leadershipconference/Icon_Possibilities+Action-01.png" height="200px" width="200px"></img></div><br>Possibilities To Action:  Springboard To The Future</button>
		 <!-- Modal -->
		 <div class="modal fade" id="myModal0" role="dialog">
				 <div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h3 class="modal-title hinfo">Possibilities To Action:</h3>
							<h3 class="modal-title hinfo">Springboard To The Future</h3>
							<h3 class="modal-title jinfo">Start With Why</h3>
							<h3 class="modal-title jinfo">Heath Slawner</h3>
						</div>
						<div class="modal-body">
							<div class="wpinfo">While our ‘Why’ comes from our past, it is a powerful tool that can help us create the future we imagine. A team’s “Why” can unlock a surge of energy and momentum that can be harnessed to overcome challenges and act as a springboard to the future.</div>

							<div class="wpinfo">In this breakout session, the Igniter will help participants explore how their organisation’s ‘Why’ can be used as a  catalyst to generate energy within a team. The group will practise techniques that use the ‘Why’ to identify new possibilities for action, and will be given an introduction to Right-to-Left Thinking and Adaptive Leadership. Since each of the possibilities will be linked to their ‘Why’, if the organisation chooses to take them forward, they will act as proof of what they believe, further increasing trust and loyalty.
						</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>



		</div>
		<div class="col-sm-4">
			<button type="button" class="btnspeaker" data-toggle="modal" data-target="#myModal2"><div><img src="https://s3-ap-southeast-1.amazonaws.com/leadershipconference/Icon_Mobile+app+development-01.png" height="200px" width="200px"></img></div><br>MIT Mobile App Development</button>
		 <!-- Modal -->
		 <div class="modal fade" id="myModal2" role="dialog">
				 <div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h3 class="modal-title hinfo">MIT Mobile App Development</h3>
							<h3 class="modal-title jinfo">Chumbaka Cyberjaya</h3>
							<h3 class="modal-title jinfo">Nigel Sim, Partner</h3>
						</div>
						<div class="modal-body">
							<div class="wpinfo">We spend more time online than with any other media, and much of that time is spent on mobile apps. Mobile apps are computer programs designed to run on mobile devices such as smartphones and tablet computers. With a wide range of sensors that come with the mobile devices such as GPS, touch screen, accelerometer and camera, you will be able to apply computer programming in designing creative and useful applications.The programming language used is App Inventor, developed by MIT.</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="col-sm-4">
			<button type="button" class="btnspeaker" data-toggle="modal" data-target="#myModal3"><div><img src="https://s3-ap-southeast-1.amazonaws.com/leadershipconference/Values+into+Culture.png" height="200px" width="200px"></img></div><br>Turning Values Into Culture</button>
		 <!-- Modal -->
		 <div class="modal fade" id="myModal3" role="dialog">
				 <div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h3 class="modal-title hinfo">Turning Values Into Culture</h3>
							<h3 class="modal-title jinfo">95 Percent Academy</h3>
							<h3 class="modal-title jinfo">Janet Lee, CEO & Lead Consultant</h3>
						</div>
						<div class="modal-body">
							<div class="wpinfo">Many Leaders know their organisations’ WHY. They’ve spent countless hours reflecting about it, but that's rarely the case for employees. Despire countless sharing and articulation sessions, many leaders still find it a challenge to instill the WHY in their employees.</div>

							<div class="wpinfo">This one-hour talk aims to equip leaders with some tips and tricks on how they can take their company’s WHY and operationalize them. In other words, turn the WHY into the HOW. We will go through several case studies, in which we’ll explore different companies’ WHY and how they turned them into living, breathing cultures that not only increase performance, but also won the hearts of their employees.</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<br>
	<br>
	<br>
	<br>
	<br>

	<div class="container text-center" >
		<div class="col-sm-4">
			<div><button type="button" class="btnspeaker" data-toggle="modal" data-target="#myModal4"><div><img src="https://s3-ap-southeast-1.amazonaws.com/leadershipconference/Icon_YTL+Sustainability-01.png" height="200px" width="200px"></img></div><br>Sustainability</button></div>
		 <!-- Modal -->
		 <div class="modal fade" id="myModal4" role="dialog">
				 <div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h3 class="modal-title hinfo">Sustainability</h3>
							<h3 class="modal-title hinfo">YTL Sustainability</h3>
							<h3 class="modal-title hinfo">Ralph Dixon, Director</h3>
						</div>
						<div class="modal-body">
							<div class="wpinfo">Explore on-going sustainability efforts being undertaken within the YTL Group and how you can encourage sustainability in your workplace and every day life.</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<button type="button" class="btnspeaker" data-toggle="modal" data-target="#myModal5"><div><img src="https://s3-ap-southeast-1.amazonaws.com/leadershipconference/YTL+LC+Icons_Gainsborough.png" height="200px" width="200px"></img></div><br>The Gainsborough Experience</button>
		 <!-- Modal -->
		 <div class="modal fade" id="myModal5" role="dialog">
				 <div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h3 class="modal-title hinfo">The Gainsborough Experience</h3>
							<h3 class="modal-title hinfo">YTL Hotels</h3>
							<h3 class="modal-title hinfo">Sean Crockford, Training Manager</h3>
						</div>
						<div class="modal-body">
							<div class="wpinfo">The Gainsborough Bath Spa opened It's doors in July 2015, in the beautiful city of Bath, England, and marked YTL’s first hotel in the UK. This workshop is geared towards taking you on the journey from its origins, to quickly being recognised by the prestigious AA institution as the Best Hotel in England, 2017. In particular, we will be looking at and learning how the team has achieved its success and how its focus on customer service and creating Inspired experiences for our guests quickly made it England's Best Hotel in 2017.</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<button type="button" class="btnspeaker" data-toggle="modal" data-target="#myModal6"><div><img src="https://s3-ap-southeast-1.amazonaws.com/leadershipconference/YTL+LC+Icons_Agile+is+the+new+strong.png" height="200px" width="200px"></img></div><br>Agile is The New Strong</button>
		 <!-- Modal -->
		 <div class="modal fade" id="myModal6" role="dialog">
				 <div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h3 class="modal-title hinfo">Agile is The New Strong</h3>
							<h3 class="modal-title jinfo">Entropia</h3>
							<h3 class="modal-title jinfo">Prashant Kumar, Senior Partner</h3>
						</div>
						<div class="modal-body">
							<div class="wpinfo">How data, technology and inventiveness is transforming the demand chain in every category, as customer expectations change dramatically. How in this ever changing world, there is a thin line between the martyr and the gamechanger. How can companies not lose sight of their true north in this constant dilemma between the now and the next.</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br></br>
	<br></br>
	<br></br>
	<br></br>

	<div class="container text-center" >
		<div class="col-sm-2">
		</div>
		<div class="col-sm-4">
			<button type="button" class="btnspeaker" data-toggle="modal" data-target="#myModal7"><div><img src="https://s3-ap-southeast-1.amazonaws.com/leadershipconference/YTL+LC+Icons_Women.png" height="200px" width="200px"></img></div><br>How Remarkable Women Lead</button>
		 <!-- Modal -->
		 <div class="modal fade" id="myModal7" role="dialog">
				 <div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h3 class="modal-title hinfo">How Remarkable Women Lead</h3>
							<h3 class="modal-title jinfo">Aberkyn</h3>
							<h3 class="modal-title jinfo">Anushia Kandasamy, Affiliate</h3>
						</div>
						<div class="modal-body">
							<div class="wpinfo">Discover the 5 elements of Centered Leadership that has helped thousands of successful Women Leaders thrive in the workplace, while connecting at a different level with other women leaders. </div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-sm-4">
			<button type="button" class="btnspeaker" data-toggle="modal" data-target="#myModal8"><div><img src="https://s3-ap-southeast-1.amazonaws.com/leadershipconference/YTL+LC+Icons-13.png
" height="200px" width="200px"></img></div><br>Making Right Decisions</button>
		 <!-- Modal -->
		 <div class="modal fade" id="myModal8" role="dialog">
				 <div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h3 class="modal-title hinfo">Making Right Decisions</h3>
							<h3 class="modal-title jinfo">Arrows College</h3>
							<h3 class="modal-title jinfo">Benny Ho, Founder</h3>
						</div>
						<div class="modal-body">
							<div class="wpinfo">Making the right choices can be the difference between success and failure. Ever wondered how to choose?</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-sm-2">
		</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br></br>
	<br></br>
	<br></br>
	<br></br>

	<div>
		<a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSfQOFOReuuurIEedid5VqNBZrz-W4CetuO9bUnsuYy8o5hAXg/viewform?usp=sf_link"class="regobutton">Click Here To Register Now</a>
	</div>
