// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.headera{
    font-size: 70px;
    font-family: 'Titillium Web', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 65px;
    color: white;
}

.h2wha {
  font-size: 20px;
  font-family: 'Titillium Web', sans-serif;
  font-weight: regular;
  color: white;
}


.bg {
    /* The image used */
    background-image: url("https://s3-ap-southeast-1.amazonaws.com/leadershipconference/Afterparty+Pattern-01.png");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
