// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


 .padding-0{
    padding-right:0;
    padding-left:0;
}


a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover{
 opacity: 0.5;
 text-decoration: none !important;
 outline-style: none !important;
}

.tsf{
  background-color: black;
  padding-top: 500px;
  padding-bottom: 500px;
}




.mediumfont {
     font-size: 30px;
     font-family: 'Titillium Web', sans-serif;
     font-weight: 700;
     text-transform: uppercase;
     color: black;
     margin-bottom: 30px;
     margin-bottom: 30px;
 }

 .mediumfonthome {
      font-size: 30px;
      font-family: 'Titillium Web', sans-serif;
      font-weight: 700;
      color: black;
      margin-bottom: 30px;
      margin-bottom: 30px;
  }

.smallfont {
     font-size: 25px;
     font-family: 'Titillium Web', sans-serif;
     font-weight: bold;
     color: black;
     margin-bottom: 30px;
     margin-bottom: 30px;
 }
.smallfontworkshop {
     font-size: 25px;
     font-family: 'Titillium Web', sans-serif;
     font-weight: bold;
     color: black;
 }

 .smallfontspeaker {
      font-size: 20px;
      font-family: 'Titillium Web', sans-serif;
      font-weight: bold;
      color: black;
  }

  .buttona {
    background-color: #00B4F0; /* Green */
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    border-radius: 8px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.buttonrsvp {
  background-color: #3c3c3c; /* Green */
  font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  border-radius: 8px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.buttonrsvp {
  background-color: #3c3c3c; /* Green */
  font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  border-radius: 8px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}


.h4 {
   font-family: 'Titillium Web', sans-serif;
   font-size: 22px;
   color: black;
   font-weight: 300;
}

.header{
    font-size: 65px;
    font-family: 'Titillium Web', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 65px;
    color: black;
}

.button {
    background-color: white;
    border: none;
    color: black;
    font-family: 'Titillium Web', sans-serif;
    font-size: 70px;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
}
.regobutton {
      padding-top: 50px;
      padding-bottom: 50px;
      font-size: 50px;
      line-height: 44px;
      cursor: pointer;
      width: 100%;
      color: white;
      font-family: 'Titillium Web', sans-serif;
      font-weight: 700;
      text-align: center;
      background-color: #00b4f0;
      border-width: 0;
      opacity: 5;
      display: block;
      -webkit-transition: all .4s ease 0s;
      -moz-transition: all .4s ease 0s;
      -o-transition: all .4s ease 0s;
      transition: all .4s ease 0s;
      -webkit-appearance: none;
      -moz-appearance: none;
}

.quote {
  background: #00b4f0;
  position: relative;
  z-index: 0;
  &:after {
    background: inherit;
    content: '';
    display: block;
    height: 40%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden; // for Chrome Windows
  }

  &:after {
    bottom: 0;
    transform: skewY(-5deg);
    transform-origin: 100%;
  }
}

.jumbotron {
    background-color: #00b4f0;
    color: #00b4f0;
    padding: 100px 25px;
}

.overlay {
    position: absolute;
    top: 170px;
    left: 0;
    right: 0;
}

.video {
    width: 100%;
}

.parallax3 {
    background-image: url('https://s3-ap-southeast-1.amazonaws.com/leadershipconference/Tan+Sri+Francis-02.png');
    min-height: 800px;
    font-family: 'Titillium Web', sans-serif;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #00b4f0;
}

.parallaxafterparty {
    background-image: url('https://s3-ap-southeast-1.amazonaws.com/leadershipconference/YTL+LC+After+Party+Banner-02.jpg');
    min-height: 800px;
    font-family: 'Titillium Web', sans-serif;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #00b4f0;
}

.inside-parallax2 {
    height:150px;
    color:black;
    text-align:center ;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold; font-size:100px
}

.my-img {
      background-image: url("background.png");
}

@media only screen and (max-width: 299px) and (min-width: 100px) {
  .inside-parallax {
    height:13vh;
    color:white;
    text-align:center;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    font-size:8vw;
    font-kerning: 50px;
    line-height: 27px;
    letter-spacing: 10px;
  }

  .subinside-parallax {
    height:6vh;
    color:white;
    text-align:center ;
    font-family: 'Titillium Web', sans-serif;
    font-size:4vw;
    letter-spacing: 10px;
  }
}
@media only screen and (max-width: 630px) and (min-width: 300px) {
  .inside-parallax {
    height:11vh;
    color:white;
    text-align:center;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    font-size:7vw;
    font-kerning: 50px;
    line-height: 42px;
    letter-spacing: 10px;
    margin-top: -180px;
  }

  .subinside-parallax {
    height:3vh;
    color:white;
    text-align:center ;
    font-family: 'Titillium Web', sans-serif;
    font-size:2vw;
    letter-spacing: 10px;
  }
}
@media only screen and (max-width: 899px) and (min-width: 631px) {
  .inside-parallax {
    height:21vh;
    color:white;
    text-align:center;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    font-size:7vw;
    font-kerning: 50px;
    line-height: 63px;
    letter-spacing: 10px;
    margin-top: -149px;
  }

  .subinside-parallax {
    height:3vh;
    color:white;
    text-align:center ;
    font-family: 'Titillium Web', sans-serif;
    font-size:2vw;
    letter-spacing: 10px;
  }
}


@media only screen and (max-width: 1299px) and (min-width: 900px) {
  .inside-parallax {
    height:184px;
    color:white;
    text-align:center;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    font-size:8vw;
    font-kerning: 50px;
    line-height: 80px;
    letter-spacing: 10px;
    margin-top: -84px;
  }
  .subinside-parallax {
    height:50px;
    color:white;
    text-align:center ;
    font-family: 'Titillium Web', sans-serif;
    font-size:2vw;
    letter-spacing: 10px;
  }
}
@media only screen and (max-width: 2000px) and (min-width: 1300px) {
  .inside-parallax {
    height:370px;
    color:white;
    text-align:center;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    font-size:8vw;
    font-kerning: 50px;
    line-height: 120px;
    letter-spacing: 10px;
  }
  .subinside-parallax {
    height:8vh;
    color:white;
    text-align:center ;
    font-family: 'Titillium Web', sans-serif;
    font-size:2vw;
    letter-spacing: 10px;
  }
}






.scrolldown {
  color:white;
  text-align:center;
  font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
  letter-spacing: 10px;
  font-size:15px;
}

.arrow{
  height:75%;
}

.divcolor {
 background-color: lightyellow;
}

.divcolorregister {
 background-color: cyan;
}

.container-fluid {
    padding: 60px 50px;
}
.bg-grey {
    background-color: #f6f6f6;
}
.logo-small {
    color: #f4511e;
    font-size: 50px;
}
.logo {
    color: #f4511e;
    font-size: 200px;
}
.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}
.thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}
.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #f4511e;
}
.carousel-indicators li {
    border-color: #f4511e;
}
.carousel-indicators li.active {
    background-color: #f4511e;
}
.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}
.item span {
    font-style: normal;
}
.panel {
    border: 1px solid #f4511e;
    border-radius:0 !important;
    transition: box-shadow 0.5s;
}
.panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}
.panel-footer .btn:hover {
    border: 1px solid #f4511e;
    background-color: #fff !important;
    color: #f4511e;
}
.panel-heading {
    color: #fff !important;
    background-color: #f4511e !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.panel-footer {
    background-color: white !important;
}
.panel-footer h3 {
    font-size: 32px;
}
.panel-footer h4 {
    color: #aaa;
    font-size: 14px;
}
.panel-footer .btn {
    margin: 15px 0;
    background-color: #f4511e;
    color: #fff;
}
