// Place all the styles related to the login controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.ytlblack {
  margin: auto 10px;
   width: auto;
   height: 2000px;
   background-color: black;
}


.loginp {
  font-family: 'Titillium Web', sans-serif;
  font-size: 14px;
  color: white;
}
