// Place all the styles related to the registers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.registerfont {
    height:150px;
    color:black;
    text-align:center ;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    font-size:100px;
}

body {
  margin: 0;
  background-color: lightskyblue;
}

.buttonb {
  background-color: #3c3c3c; /* Green */
  font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  border-radius: 8px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

// button {
//   width: 20vw;
//   height: 6vw;
//   position: absolute;
//   left: 50vw;
//   top: 50vh;
//   transform: translate(-50%,-80%);
//   font-family: 'Titillium Web', sans-serif;
//   font-size: 40px;
//   letter-spacing: 0.1em;
//   color: #e8e8e8;
//   border: none;
//   border-radius: 10px;
//   outline: none;
//   background: linear-gradient(45deg,#d350db,teal,#d350db);
//   background-size: 400% 400%;
//   box-shadow: 1vw 1vw 0 lightcoral;
//   cursor: pointer;
//   transition: all 0.3s ease;
//
//   &:hover {
//     animation: gradient 10s ease infinite;
//     font-size: 30px;
//     box-shadow: 0.2vw 0.2vw 0 lightcoral;
//   }
// }

@keyframes gradient {
  50% {
    background-position: 100% 0;
  }
}
